VITE_DB_PATH= # absolute path to the haveno_statistics/xmr_mainnet/db/ folder generate by `haveno-statsnode`
VITE_DATABASE_URL=file:local.db
VITE_CLEARNET_URL=
VITE_ONION_URL=
VITE_I2P_URL=
VITE_I2P_B32_URL=
VITE_GIT_URL=
VITE_XMR_DONATION_ADDRESS=
VITE_HAVENO_PRICENODE=